html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Principal */
.encabezado{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 350px;
}
.img{
    align-self: center;
}
.img img{
    width: 100%;
    height: auto;
    max-height: 200px;
}
.titulo {
    font-size: 15px;
    text-align: center;
    align-self: center;
}
.acerca{
    text-decoration: none;
    color: black;
    font-weight: bold;
    align-self: center;
} 
@media (min-width: 768px) {
    .encabezado{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2rem;
        height: 150px;
        justify-items: center;
    }
    .img img{
        width: 100%;
        height: auto;
        max-height: 150px;
    }
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #203864;
    padding: 15px 0px;
}
.principal h1{
    font-weight: bold;
    font-size: 25px;
    color: #ffff;
    text-align: center;
}
.contenido{
    display: flex;
    flex-flow:column;
    margin: 20px 0px;
}
.contenido img{
    width: 50%;
    height: auto;
    border-radius: 15px;
    align-self: center ;
}
.contenido label{
    height: auto;
    background-color: #203864;
    color: #ffff;
    text-align: justify;
    font-size: 20px;
    padding: 25px;
    margin: 20px 0px;
}
.apartados{
    display: flex;
    flex-flow: column;
}
.apartados a{
    background-color: #203864;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.apartados a:hover{
    background-color: #4073d1;
}
@media (min-width: 768px) {
    .principal h1{
        font-size: 50px;
    }
    .contenido{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 20px;
    }
    .contenido img{
        width: 100%;
        height: auto;
    }
    .contenido label{
        margin: 0px 0px 20px 0px;
    }
    .apartados a{
        height: 50px;
        width: auto;
        text-align: center;
    }
}
/* Temas */
.fila{
    display: flex;
    flex-flow:column;
    margin: 20px 0px;
}
.contenedor-subtema{
    background-color: #203864;
    color: #ffff;
    text-align: center;
    padding: 10px;
}
.contenedor-contenido{
    padding: 15px;
    background-color: azure;
    text-align: justify;
    font-size: larger;
}
.home{
    display: flex;
    width: 100%;
    justify-content: center;
}
.home a{
    background-color: #203864;
    padding: 9px;
    border-radius: 10px;
    color: #ffff;
    text-decoration: none;
}
@media (min-width: 768px) {
    .principal{
        margin-bottom: 20px;
    }
    .main{
        display: grid;
        height: 100%;
        margin: 0px 20px;
    }
    .fila{
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 2rem;
        height: auto;
        margin: 10px 0px;
    }
    .fila2{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-auto-flow: dense;
        direction:rtl;
        column-gap: 2rem;
        height: auto;
        margin: 10px 0px;
    }
    .contenedor-subtema{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
    .contenedor-contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        direction: ltr;
        border-radius: 10px;
    }
    .footer{
        display: grid;
        margin-top: 25px;
    } 
    
}